@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    
}
h1{
    color: blue;
}
h2{
    color: rgb(255, 0, 0);
}
p{
    text-align: justify;
}