@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 480px;
    max-height: 315;
    margin: auto;
}

header {
    margin: -10px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    background-color: #093240;
}

body{
    background-color: #0b5e65;
    max-width: 480px;
    max-height: 315px;
}

section {
    border-radius: 10px;
    background-color: white;
    padding-left: 10px;
    font-size: 0.7em;
}

section > h2 {
    color: #093240;
    text-align: center;
}

#hehe{
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: justify
}

.haha{
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 10px;
    text-align: justify
}

#espacin {
    padding-top: 10px;
    padding-bottom: 10px;
}
#pp {
    font-size: 0.5em;
}